html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
    position: relative;
}

#log {
    height: 10%;
    overflow-y: scroll;
    border:1px solid black;
}

#log p {
    margin: 1px;
}

#pressit {
    width: 100px;
    height: 100px;
}
